
    <li><a href="/" id="homeLink">Home</a></li>
    <li><a href="@Url.Action("Index", "News")" id="newsLink">News</a></li>
    <li><a href="@Url.Action("Help", "Home")" id="helpLink">Help</a></li>
    <li><a href="@Url.Action("Contact", "Home")" id="contactLink">Contact</a></li>
    <li>@Html.Partial("_LoginPartial")</li>

