<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Live Setting -->
    <!--<add key="pressfordconsulting.news.root" value="http://pressfordconsultingnews.azurewebsites.net/" />-->

    <!-- Dev Setting -->
    <add key="pressfordconsulting.news.root" value="http://localhost:18783/" />

    <add key="pressfordconsulting.news.homepage" value="" />
    <add key="pressfordconsulting.news.newspage" value="News" />
    <add key="pressfordconsulting.news.loginpage" value="Account/Login" />
    <add key="pressfordconsulting.news.registerpage" value="Account/Register" />
    <add key="pressfordconsulting.news.readarticlepage" value="Article/Read/1" />
    <add key="pressfordconsulting.news.editarticlepage" value="Article/Edit/1" />
    <add key="pressfordconsulting.news.newarticlepage" value="/Article/New" />

    <add key="MaxNumberOfLikesPerUser" value="5" />
    <add key="MostPopularArticlesCount" value="10" />
    <add key="HomepageLatestArticleCount" value="6" />

  </appSettings>
</configuration>