@{
    ViewBag.Title = "Contact us | Pressford Consulting";
}


<h1 class="header center teal-text text-lighten-2">Contact us</h1>
<div class="row center">
    <p>If the <a href="@Url.Action("Help", "Home")">Help</a> page hasn't answered your question, then get in touch in the following ways.</p>
</div>

<div class="row">
    <div class="col s12">
        <div class="card teal lighten-4">
            <div class="card-content black-text darken-4">
                <p>
                    email: <a href="mailto:support@pressfordconsulting.com">support@pressfordconsulting.com</a>
                </p>
                <p>
                    skype: pressford
                </p>
                <p>
                    phone: 012 3456 7890
                </p>
            </div>
        </div>
    </div>
</div>