@{
    ViewBag.Title = "Help | Pressford Consulting";
}


<h1 class="header center teal-text text-lighten-2">In need of help?</h1>
<div class="row center">
    <p>Look no further. This is the place to get help about this app.</p>
</div>

<div class="row">
    <div class="col s12">
        <div class="card teal lighten-4">
            <div class="card-content black-text darken-4">
                <span class="card-title black-text darken-4">Ethical flannel tousled, irony dreamcatcher?</span>
                <p>
                    Wes Anderson Schlitz Echo Park PBR mlkshk. XOXO ennui asymmetrical salvia you probably haven't heard of them, polaroid stumptown Blue Bottle gentrify chia farm-to-table cray fanny pack aesthetic. Single-origin coffee Truffaut freegan banjo, Schlitz leggings swag typewriter bespoke vegan twee ethical Echo Park messenger bag.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card teal lighten-4">
            <div class="card-content black-text darken-4">
                <span class="card-title black-text darken-4">Semiotics raw denim tofu chillwave letterpress?</span>
                <p>
                    Polaroid semiotics trust fund yr, cray farm-to-table sustainable PBR&B skateboard four dollar toast flexitarian iPhone sartorial. Tote bag post-ironic crucifix VHS, stumptown Pinterest try-hard. Mumblecore butcher letterpress sartorial, chia wayfarers Helvetica.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card teal lighten-4">
            <div class="card-content black-text darken-4">
                <span class="card-title black-text darken-4">Health goth heirloom irony, fixie disrupt Wes Anderson?</span>
                <p>
                    Truffaut Kickstarter vinyl chillwave. Deep v seitan kale chips kitsch mumblecore single-origin coffee umami semiotics, DIY master cleanse pickled selfies freegan. VHS ugh Carles quinoa fingerstache cliche. Tousled seitan Pinterest shabby chic, master cleanse vinyl Portland keffiyeh health goth flexitarian small batch pork belly mumblecore. Lo-fi locavore ugh, Shoreditch retro skateboard literally banjo Wes Anderson try-hard health goth flexitarian tilde Kickstarter next level.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card teal lighten-4">
            <div class="card-content black-text darken-4">
                <span class="card-title black-text darken-4">Squid cred fap, Intelligentsia cliche direct trade health goth McSweeney's whatever kogi iPhone?</span>
                <p>
                    YOLO umami migas wolf tote bag cred. Normcore literally put a bird on it occupy. Next level plaid 8-bit 3 wolf moon, Odd Future disrupt Tumblr VHS vegan skateboard Marfa. Flannel raw denim cardigan kale chips. Bicycle rights quinoa lumbersexual, American Apparel gluten-free pop-up tote bag flexitarian ennui blog Schlitz tousled letterpress polaroid. Food truck iPhone ugh, fap Wes Anderson mlkshk gluten-free you probably haven't heard of them scenester letterpress.
                </p>
            </div>
        </div>
    </div>
</div>